<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="一矢光明" />
		<meta name="description" content="一矢光明" />
		<!--
            	作者：491128833@qq.com
            	时间：2017-05-10
            	描述：为了让IE浏览器使用最新的渲染效果
            -->
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>博客</title>
		<!--
        	作者：491128833@qq.com
        	时间：2017-05-08
        	描述：本地css样式为了离线使用
        -->
		<link rel="stylesheet" href="/static/stylesheets/bootstrap.min.css" />

		<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
	</head>
	<style>
		body {
			padding-top: 50px;
		}
	</style>

	<body>

		<div class="container">

			<div class="blog-header">
				<h1 class="blog-title">博客页</h1>
				<p class="lead blog-description">Bootstarp模版做的博客页</p>
			</div>

			<div class="row">

				<div class="col-sm-8 blog-main">
					<div id="blogconnent">
						<%- blogconnent%>
					</div>
					<!-- /.blog-post -->

					<nav>
						<ul class="pager">
							<li>
								<a href="#">Previous</a>
							</li>
							<li>
								<a href="#">Next</a>
							</li>
						</ul>
					</nav>
					<hr />
					<a href="/">返回主页</a>

				</div>
				<!-- /.blog-main -->

				<!--
                    	作者：491128833@qq.com
                    	时间：2017-05-10
                    	描述：博客页的侧边栏
                    -->

				<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
					<div class="sidebar-module sidebar-module-inset">
						<h4>About</h4>
						<p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
					</div>
					<div class="sidebar-module">
						<h4>博客列表</h4>
						<%- sidecontent%>
					</div>
					<div class="sidebar-module">
						<h4>Elsewhere</h4>
						<ol class="list-unstyled">
							<li>
								<a href="#">GitHub</a>
							</li>
							<li>
								<a href="#">Twitter</a>
							</li>
							<li>
								<a href="#">Facebook</a>
							</li>
						</ol>
					</div>
				</div>
				<!-- /.blog-sidebar -->

			</div>
			<!-- /.row -->

		</div>
		<!-- /.container -->
	</body>
	<!--JS引用-->
	
	<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script>
		var xmlthhp;

		function loadXMLDoc(url) {
			xmlhttp = null;
			if(window.XMLHttpRequest) {
				xmlhttp = new XMLHttpRequest();
			} else {
				alert('您的浏览器太旧了升级一下吧');
			}
			if(xmlhttp != undefined || xmlhttp != null) {
				xmlhttp.onreadystatechange = state_Change;
				xmlhttp.open("GET", url, true);
				xmlhttp.send(null);
			} else {
				alert('您的浏览器太旧了升级一下吧');
			}
		}

		function state_Change() {
			if(xmlhttp.readyState == 4) {
				if(xmlhttp.status == 200) {
					//200="OK"
					eg.$('blogconnent').innerHTML = xmlhttp.responseText;
				} else {
					alert("Problem retrieving data:" + xmlhttp.statusText);
				}
			}
		}
		var eg = {};
		//从ID获取控件
		eg.$ = function(id) {
			return document.getElementById(id);
		}
	</script>

</html>