<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="一矢光明" />
		<meta name="description" content="一矢光明" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>
			<%= title %>
		</title>

		<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">

		<!--
        	作者：491128833@qq.com
        	时间：2017-05-08
        	描述：本地css样式为了离线使用
        -->

		<link rel="stylesheet" href="/static/stylesheets/bootstrap.css" />

	</head>
	<style>
		body {
			padding-top: 50px;
		}
		
		.carousel {
			height: 500px;
			background-color: black;
		}
		
		.carousel .item {
			height: 500px;
			background-color: black;
		}
		
		.carousel img {
			height: 100%;
			width: 100%;
		}
	</style>
	<script>
	</script>

	<body>
		<!--
        	作者：491128833@qq.com
        	时间：2017-03-25
        	描述：导航条
        -->
		<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
					<a class="navbar-brand" href="/">主页</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a href="/jy">查询<span class="sr-only">(current)</span></a>
						</li>
						<li>
							<a href="/live">直播</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">下拉按钮 <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li>
									<a href="/photo">图片</a>
								</li>
								<li>
									<a href="/blog">个人博客</a>
								</li>
								<li>
									<a href="#">Something else here</a>
								</li>
								<li role="separator" class="divider"></li>
								<li>
									<a href="#">Separated link</a>
								</li>
								<li role="separator" class="divider"></li>
								<li>
									<a href="#">One more separated link</a>
								</li>
							</ul>
						</li>
					</ul>
					<form class="navbar-form navbar-left">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search">
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="/registerpage">注册</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">下拉框 <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li>
									<a href="/zhiyuandata">支援数据</a>
								</li>
								<li>
									<a href="#">Another action</a>
								</li>
								<li>
									<a href="#">Something else here</a>
								</li>
								<li role="separator" class="divider"></li>
								<li>
									<a href="#">Separated link</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
		<!--
        	作者：491128833@qq.com
        	时间：2017-03-28
        	描述：滚动图片组件
        -->

		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
				<li data-target="#carousel-example-generic" data-slide-to="3"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item">
					<img src="/static/images/img_14.jpg" alt="...">
					<div class="carousel-caption">
						灼眼のシャナ
					</div>
				</div>
				<div class="item active">
					<img src="/static/images/IMG_20170408_170935.jpg" alt="...">
					<div class="carousel-caption">

					</div>
				</div>
				<div class="item">
					<img src="/static/images/IMG_20170408_171406.jpg" alt="...">
					<div class="carousel-caption">

					</div>
				</div>
				<div class="item">
					<img src="/static/images/IMG_20170408_170711.jpg" alt="...">
					<div class="carousel-caption">
						桜
					</div>
				</div>
				...
			</div>

			<!-- Controls -->
			<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
		<!--以上为滚动图片-->

		<nav class="navbar navbar-default navbar-fixed-bottom">
			<div class="container">
				<audio src="http://musics.gimhoy.com/mp3/fbe2c68ed793f708465b1fdccedaf018.mp3" controls="controls" style="width: 80%;height: 100%;" id="soundid"></audio>
				<!--上拉菜单-->
			<div class="dropup">
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    歌单
    <span class="caret"></span>
  </button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
					<li>
						<a onclick="selectSoud('1')">天命风流</a>
					</li>
					<li>
						<a onclick="selectSoud('2')">谓我</a>
					</li>
					<li>
						<a onclick="selectSoud('3')">千年缘</a>
					</li>
					<li role="separator" class="divider"></li>
					<li>
						<a onclick="selectSoud('4')">千年缘</a>
					</li>
					<li>
						<a onclick="selectSoud('5')">千年缘</a>
					</li>
				</ul>
			</div>
			<!--上拉菜单/-->
			</div>
			
		</nav>

		<!--背景音乐-->
		<audio src="/static/music/お兄ちゃん.mp3" autoplay="autoplay" id="playmusic"></audio>
	</body>
	<!--JS引用-->

	<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script>
		var sounds={
			1:"/static/music/sound/墨明棋妙-天命风流.mp3",2:"/static/music/sound/小曲儿-谓我.mp3",3:"/static/music/sound/心然-千年缘.mp3",4:"/static/music/sound/心然-千年缘.mp3",5:"/static/music/sound/心然-千年缘.mp3"
		}
		
		$(function(){
			document.getElementById("soundid").volume = 0.5;
			//jquery控制音量暂时无法实现
			//$("#soundid").volume=0.5;
		})
		
		function selectSoud(sound){
			//alert(sounds[sound]);
			$("#soundid")[0].pause();
			$("#soundid").attr('src',sounds[sound]);
			$("#soundid")[0].play();
			
		
			
		}
		
	</script>
	<!--
    	作者：491128833@qq.com
    	时间：2017-05-08
    	描述：离线jquery和bootstrap的javascript文件使用
    -->
	<!--
    <script type="text/javascript" src="static/javascripts/jquery.min.js" ></noscript>
    <script type="text/javascript" src="static/javascripts/bootstrap.min.js" ></script>
	-->

</html>