<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="description" content="查询页面" />
		<meta name="keywords" content="一矢光明" />
		<title>
			<%=title%>
		</title>
		<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
		<style>
			body {
				padding-top: 80px;
			}
			
			.table {
				width: 60%;
			}
			.form-group{
				text-align: center;
			}
		</style>
	</head>

	<body>
		
		
		<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
					<a class="navbar-brand" href="/">主页</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="/jy">查询<span class="sr-only">(current)</span></a>
						</li>
						<li>
							<a href="/live">直播</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li>
									<a href="#">Action</a>
								</li>
								<li>
									<a href="#">Another action</a>
								</li>
								<li>
									<a href="#">Something else here</a>
								</li>
								<li role="separator" class="divider"></li>
								<li>
									<a href="#">Separated link</a>
								</li>
								<li role="separator" class="divider"></li>
								<li>
									<a href="#">One more separated link</a>
								</li>
							</ul>
						</li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#">Link</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li>
									<a href="#">Action</a>
								</li>
								<li>
									<a href="#">Another action</a>
								</li>
								<li>
									<a href="#">Something else here</a>
								</li>
								<li role="separator" class="divider"></li>
								<li>
									<a href="#">Separated link</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
		
		<div class="form-group">
			<label>查询内容&nbsp;&nbsp;</label>
			<input type="text"  placeholder="Search" id='intxt_para'>
			<label>页面数&nbsp;&nbsp;</label>
			<input id="pagecount" type="number" value="1"/>
			<button type="button" class="btn btn-default" onclick="eg.searchee()">查询</button>
		</div>

		<!--
        	作者：491128833@qq.com
        	时间：2017-03-30
        	描述：查询内容
       -->

		
		<center>
			<table class="table table-hover">
				<thead>
					<tr>
						<td>标题</td>
						<td>详细</td>
						<td>链接</td>
						<td>标题4</td>
						<td>标题5</td>
					</tr>
				</thead>
				<tbody id='dataitems'>
						
					<% datas.forEach(function(item){%>
					<tr>
						<td class="info">
							<%=item.title%>
						</td>
						<td>
							<%=item.details%>
						</td>
						<td>
							<%=item.link%>
						</td>
						<td>...</td>
						<td>...</td>
					</tr>
					<% }) %>
					
					
				</tbody>
				<!-- On cells (`td` or `th`) -->
				<tr>
						<td class="active">...</td>
						<td class="success">...</td>
						<td class="warning">...</td>
						<td class="danger">...</td>
						<td class="info">...</td>
					</tr>
			</table>
		</center>
	</body>

	<!--JS引用-->
	<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script>
		var eg={};
		eg.searchee=function (){
			var searchpara=eg.$('intxt_para').value;
			var searchpage=eg.$('pagecount').value;
			if(searchpara==null||searchpara==undefined||searchpara==''||searchpage==null||searchpage==undefined){
				alert('请输入查询内容');
				return ;
			}else{
			var loadtext='/search'+'/'+searchpara+'/'+searchpage;
			loadXMLDoc(loadtext);	
			}
			
		}
		//从ID获取控件
		eg.$=function(id){
			return document.getElementById(id);
		}
		
		var xmlhttp;
		function loadXMLDoc(url) {
			xmlhttp = null;
			if(window.XMLHttpRequest) {
				xmlhttp = new XMLHttpRequest();
			}
			if(xmlhttp != null) {
				xmlhttp.onreadystatechange = state_Change;
				xmlhttp.open("GET", url, true);
				xmlhttp.send(null);
			} else {
				alert("Your browser does not support XMLHTTP.")
			}
		}

		function state_Change() {
			if(xmlhttp.readyState == 4) {
				if(xmlhttp.status == 200) {
					//200="OK"
					document.getElementById('dataitems').innerHTML = xmlhttp.responseText;
				} else {
					alert("Problem retrieving data:" + xmlhttp.statusText);
				}
			}
		}
		//page up and down
		eg.uppage=function(){
			eg.$('pagecount').value=parseInt(eg.$('pagecount').value)-1;
		}
		eg.downpage=function(){
			eg.$('pagecount').value=parseFloat(eg.$('pagecount').value)+1;
		}
		
	</script>
</html>