<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="一矢光明" />
		<meta name="description" content="一矢光明" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>数据支援页面</title>
	</head>
	<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet" />

	<!--
        	作者：491128833@qq.com
        	时间：2017-05-08
        	描述：本地css样式为了离线使用
        -->

	<link rel="stylesheet" href="/static/stylesheets/bootstrap.css" />

	<style>
		body {
			padding-top: 50px;
		}
		
		.labelcenter {
			margin-left: 20%;
			margin-right: 20%;
		}
		
		.inputcenter {
			width: 60%;
			margin-left: 20%;
			margin-right: 20%;
		}
	</style>

	<body>
		<!--
        	作者：491128833@qq.com
        	时间：2017-03-25
        	描述：导航条
        -->
		<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
					<a class="navbar-brand" href="/">主页</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a href="/jy">查询<span class="sr-only">(current)</span></a>
						</li>
						<li>
							<a href="/live">直播</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">下拉按钮 <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li>
									<a href="/photo">图片</a>
								</li>
								<li>
									<a href="#">个人博客</a>
								</li>
								<li>
									<a href="#">Something else here</a>
								</li>
								<li role="separator" class="divider"></li>
								<li>
									<a href="#">Separated link</a>
								</li>
								<li role="separator" class="divider"></li>
								<li>
									<a href="#">One more separated link</a>
								</li>
							</ul>
						</li>
					</ul>
					<form class="navbar-form navbar-left">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search">
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="/registerpage">注册</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">下拉框 <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li>
									<a href="#">支援数据</a>
								</li>
								<li>
									<a href="#">Another action</a>
								</li>
								<li>
									<a href="#">Something else here</a>
								</li>
								<li role="separator" class="divider"></li>
								<li>
									<a href="#">Separated link</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>

		<!--
        	作者：491128833@qq.com
        	时间：2017-05-08
        	描述：数据库增加内容
        -->
		<form action="" method="post">
			<div calss="form-group">
				<label for="inputtitle" class="labelcenter">标题</label>
				<input type="text" class="form-control inputcenter" id="inputtitle" name="inputtitle" />
				<label for="inputcili" class="labelcenter">磁力链接</label>
				<input type="text" class="form-control inputcenter" id="inputcili" name="inputcili" />
				<label for="inputbeiyong1" class="labelcenter">备用1</label>
				<input type="text" class="form-control inputcenter" id="inputbeiyong1" name="inputbeiyong1" />
				<label for="inputbeiyong2" class="labelcenter">备用2</label>
				<input type="text" class="form-control inputcenter" id="inputbeiyong2" name="inputbeiyong2" />
			</div>
			<div class="checkbox">
				<center>
					<label>
					<input type="checkbox" />check me out
				</label>
					<label id="notice"></label>
				</center>
			</div>
			<center>
				<!--
                	作者：491128833@qq.com
                	时间：2017-05-09
                	描述：post请求
               -->

				<!--直接提交页面跳转-->
				<button type="submit" class="btn btn-default">提交</button>
				<!--ajax提交页面不跳转-->
				<input type="button" class="btn btn-default" value="提交" onclick="eg.postcommit()"></input>

				<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
					确认提交</button>
			</center>
		</form>
		<!--模态框开始->
		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">\
							<span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">确认框</h4>
					</div>
					<div class="modal-body">
						确定要保存吗？
						<table>
							<tr>
								<td>
									<h3>标题</h3>
								</td>
								<td>
									<label id="inputtitle"></label>
								</td>
							</tr>
							<tr>
								<td>
									<h3>标题</h3>
								</td>
								<td>
									<label id="inputtitle"></label>
								</td>
							</tr>
							<tr>
								<td>
									<h3>标题</h3>
								</td>
								<td>
									<label id="inputtitle"></label>
								</td>
							</tr>
							<tr>
								<td>
									<h3>标题</h3>
								</td>
								<td>
									<label id="inputtitle"></label>
								</td>
							</tr>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save changes</button>
					</div>
				</div>
			</div>
		</div>
		<!--模态框结束-->
	</body>
	<!--JS引用-->

	<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<script>
		//初始化方法
		$(function() {
			
		});
		//提交ajax post请求
		var eg = {};
		eg.postcommit = function() {
			loadXMLDoc('/zhiyuandata');
		}

		//从ID获取控件
		eg.$ = function(id) {
			return document.getElementById(id);
		}

		var xmlhttp;

		function loadXMLDoc(url) {
			xmlhttp = null;
			if(window.XMLHttpRequest) {
				xmlhttp = new XMLHttpRequest();
			}
			var inputformparams;
			if(xmlhttp != null || xmlhttp != undefined) {
				xmlhttp.onreadystatechange = state_Change;
				xmlhttp.open("POST", url, true);
				//这个不设置下面参数无法识别
				xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded"); //设置的HTTP头
				inputformparams = "inputtitle=";
				inputformparams = inputformparams + eg.$('inputtitle').value;
				inputformparams = inputformparams + "&inputcili=";
				inputformparams = inputformparams + eg.$('inputcili').value;
				xmlhttp.send(inputformparams);
			} else {
				alert("Your browser does not support XMLHTTP.");
			}
		}

		function state_Change() {
			if(xmlhttp.readyState == 4) {
				if(xmlhttp.status == 200) {
					//200="OK"
					eg.$('notice').innerHTML = xmlhttp.responseText;
				} else {
					alert("Problem retrieving data:" + xmlhttp.statusText);
				}
			}
		}
	</script>

</html>